body {
    background-color: pink;
    color: red;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: left;
}

header nav {
    text-align: left;
}

header a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.titulo {
    margin-top: 80px;
}

button {
    background-color: #ff00ff;
    color: #8E44AD;
    border: none;
    padding: 20px 40px;
    font-size: 24px;  
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 10px;
    border-radius: 12px;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #8E44AD;
    color: #ff00ff;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #8E44AD;
}