body {
    background-color: pink;
    color: red;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
}

button {
    background-color: #ff00ff;
    color: #8E44AD;
    border: none;
    padding: 20px 40px; /* Aumenta o tamanho do botão */
    font-size: 24px;     /* Aumenta o tamanho do texto */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 10px;
    border-radius: 12px; /* Deixa mais bonito e arredondado */
}

button:hover {
    background-color: #8E44AD;
    color: #ff00ff;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #8E44AD;
}