body {
    background-color: yellow;
    color: blue;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #0000ff;
}