body {
    background-color: blue;
    color: aqua;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    text-decoration: none;
    text-align: left;
}

header a {
    color: pink;
    text-decoration: none;
}

header nav {
    display: inline-block;
}

header nav li {
    justify-content: flex-start;
    display: inline;
    margin: 0 15px;
    text-decoration: none;
}

.titulo {
    margin-top: 80px;
}

button {
    background-color: #00ffff;
    color: #0000ff;
    border: none;
    padding: 20px 40px;
    font-size: 24px;     
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 10px;
    border-radius: 12px; 
}

button:hover {
    background-color: #0000ff;
    color: #00ffff;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: aqua;
}